body{
		background-color: #F2F2F2;
		display: block;
	}
	.wrap{
	     
		color: #343434;
		font-family: 'Ultra', sans-serif;   
		font-size: 20px;
		overflow: hidden;
		
	}
	.navigation{
	    overflow: hidden;
	    position: fixed;
	    z-index: 1;
	    width: 100%
	   
	}
	.logo {
		overflow: hidden;
		float: left;
		width: 15%;
		height:70px;
		position: relative;
		background-color: #F2F2F2;
	}
	.logo h1{
		font-family: serif;
	}
	.navbar{
		float: left;
		width: 85%;
		height:70px;
		background-color:  black;
	}
	nav > ul {
		
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color:  black;
	    
	}

	nav>ul>li {
	    float: left;
	}

	nav ul li a {
	    display: block;
	    color: white;
	    font-size: 15px;
	    text-align: center;
	    padding: 22px 18px;
	    text-decoration: none;
	}

	.navbar a:hover {
	    background-color: #111;
	}
	.content{
		width: 100%;
		height: 50%;
	}
	.hero{
		margin-top: 75px;
		width: 100%;
		text-align: center;
		position: relative;
		overflow: hidden;
		background-size: cover;
	}
	.hero h2{
		
		position: absolute;
		top:150px;
	  left: 0;
		right: 0;
		font-size: 50px;
		z-index: 1;
		color: white;
	   font-variant-caps: unicase;
	   font-weight: 600;
	}
	.hero a{
		position: absolute;
		top: 390px;
		left: 0;
		right: 0;
		font-size: 30px;
		z-index: 1;
		color: white;
		text-decoration: none;  
	    font-weight: bold;
	}
	#hoverlink:hover {
		background-color: transparent;
		
	}
	.heading{

	       padding-left: 50px;
	}
	.heading h2{
		font-family: serif;
		font-variant-caps: small-caps;
	}
	.colcontainer{
		overflow: hidden;
		border-bottom: solid grey 0.5px ;
	  margin-bottom: 10px;
	  padding-bottom: 20px;

	}
	.column-leftp1{ 
		text-align: center;
		float: left;
		 width: 33%;  
		 height:250px; 
	}
	.column-rightp1{
		text-align: center;
	 float: right; 
	 width: 33%;  
	 height:250px; 
	}
	.column-centerp1{ 
		text-align: center;
		display: inline-block;
		 width: 34%; 
		 height:250px;
	}
	.column-left{ 
		text-align: center;
		float: left;
		 width: 25%;  
		 height:150px; 
	}
	.column-right{
		text-align: center;
	 float: right; 
	 width: 25%;  
	 height:150px; 
	}
	.column-right a{
		
	 text-decoration: none;

	}
	.column-center{ 
		text-align: center;
		display: inline-block;
		 width: 24%; 
		 height:150px;
	}
	.column-center2{ 
		text-align: center;
		display: inline-block;
		 width: 24%; 
		 height:150px;
	}
	.column-right ul li{
		font-family: serif;
		font-size: 15px;
	}

	footer {
		margin-top: 0PX;
	  position: bottom;
	  bottom: 0px;
	  width: 100%;
	  height: 50px;
	  padding-bottom: 30px;
	  background-color:#F2F2F2; 
	  display: inline-block;

	}
	.fa {
	  padding: 20px;
	  font-size: 30px;
	  width: 30px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	  border-radius: 50%;
	}

	.fa:hover {
	    opacity: 0.7;
	}

	.fa-facebook {
	  background: #3B5998;
	  color: white;
	}

	.fa-twitter {
	  background: #55ACEE;
	  color: white;
	}

	.fa-google {
	  background: #dd4b39;
	  color: white;
	}

	.fa-linkedin {
	  background: #007bb5;
	  color: white;
	}

	.fa-youtube {
	  background: #bb0000;
	  color: white;
	}

	.fa-instagram {
	  background: #125688;
	  color: white;
	}
	.entertain h1{
		font-family: sans-serif;

	}
	#para1{
		color: blue;
		font-family: serif;
		font-size: 27px;
	}
	.image_content{
		float: left;
		width: 47%
	}
	.paracontent{
		float: right;
		width: 53%
	}
	.entertain{
		overflow: hidden;
		background-color: #F2F2F2; 
	    margin-bottom: 0px;
	    padding-bottom: 5px;
	}
	#para2{
		font-family: serif;
		font-size: 20px;
		text-align: justify;

	}
	#para3{
		font-family: serif;
		font-size: 20px;
		font-style: italic;
	text-align: justify;
	}
	#para4{
		font-family: serif;
		font-size: 25px;
	text-align: justify;
	}
	#para5{
		font-family: serif;
		font-size: 20px;
		text-align: justify;
	}
	.image_content2{
		float: right;
		width: 35%
		margin-left: 3px;
	}
	.paracontent2{
		float: left;
		width: 65%
	}
	.entertain2{
		overflow: hidden;
		border-bottom: solid grey 0.5px ;
	    margin-bottom: 0px;
	    padding-bottom: 0px;
	    background-color: #F2F2F2; 
	    margin-top: 0px;
	}
	 #imagefloat{
		
		float: right;
		margin-right: 3px;

	}
	.leftcontain{
		text-align: center;
	}
	.leftcontain a , .colcontainer a{
		margin-top: 10px;
		text-decoration: none;
		font-size: 17px;
		    font-family: monospace;
	    font-variant-caps: unset;
	}
	.colcontainer p{
		    font-family: -webkit-body;
	    font-variant-caps: titling-caps;
	    font-size: 20px;

	}
	.copyright{
		text-align: center;
		font-family: initial;
	    font-variant-caps: all-petite-caps;
	}
	.heading1 p{
		font-size: 18px;
	}